// Slider Section Styles

.slider-section {
    background-color: $primary-dark-bg;
    padding-top: 40px;
    padding-bottom: 100px;
    img {
        width: 100%;
    }
}
// Slider Images
.slider-images {
    position: relative;
    margin-bottom: 30px;
    .overlay {
        position: absolute;
        padding: 10px;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0 , 0, 0, 0.6);
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: #ffffff;
        }
        h2 {
            font-size: 18px;
            margin: 0;
            text-transform: uppercase;
            font-weight: 700;
        }
        i {
            font-size: 18px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
// Slider tabs
.slider-tabs {
    .tabs {
        a {
            i {
                margin-right: 5px;
            }
            display: block;
            margin-bottom: 5px;
            background: #162137;
            color: #ffffff;
            font-weight: 300;
            font-size: 16px;
            text-transform: uppercase;
            padding: 12px 20px;
            &:hover {
                opacity: 0.8;
            }
        }
        a.active {
            background-color: $tertiary-color;
        }

    }

    // promo
    .promo-section {
        margin-top: 15px;
        height: 210px;
        background-position: center;
        background-size: cover;
        text-align: center;

        .btn-promo {
            display: inline-block;
            text-align: center;
            color:  #ffffff;
            background-color: rgba(0,0,0,0.8);
            padding: 8px 16px;
            font-size: 14px;
            text-transform: uppercase;
            margin-top: 15px;
        }
    }
}


/**
    RESPONSIVE STYLES GOES HERE
    ===========================
**/

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    // Slider Images
    .slider-images {
        margin-bottom: 0px;
        .overlay {
            padding: 15px;

            h2 {
                font-size: 24px;
            }
            i {
                font-size: 22px;
                margin: 0 10px;
            }
        }
    }
}
