// VARIABLES

// Fonts
$primary-font: 'Open Sans', sans-serif;

// Colors
$primary-color: #4a6eb5;
$secondary-color: #208842;
$tertiary-color: #e64d24;

$dark-color-parcent: 5%;
$primary-color-dark: darken($primary-color , $dark-color-parcent);
$secondary-color-dark: darken($secondary-color , $dark-color-parcent);
$tertiary-color-dark: darken($tertiary-color , $dark-color-parcent);

$primary-dark-bg: #040a16;
$secondary-dark-bg: #162137;
$main-section-bg: #122548;
$section-card-bg: #203560;

$primary-text-color: #ffffff;
$secondary-text-color: #647086;
