body {
  background-color: #13264a;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: .015em;
}
img {
  max-width: 100%;
}
.modal {
  color: #333;
}
.preloader {
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999999999;
}
.preloader > .inner {
  display: table-cell;
  vertical-align: middle;
}
.preloader .spinner {
  border: 3px solid #fff;
  border-radius: 30px;
  border-right-color: transparent;
  display: block;
  height: 60px;
  margin: 0 auto;
  width: 60px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.header {
  background-color: #040a16;
  padding: 18px 0;
}
@media (max-width: 767px) {
  .header {
    padding: 15px 0;
  }
}
.header .logo {
  display: table;
}
@media (max-width: 767px) {
  .header .logo {
    margin: 0 auto 12px;
  }
}
.header .logo a,
.header .logo img {
  display: block;
}
.header .navigation {
  margin-top: 5px;
}
@media (max-width: 767px) {
  .header .navigation {
    display: table;
    float: none;
    margin: 0 auto;
  }
}
.header .navigation > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .navigation > ul > li {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 2em;
  margin: 3px 8px;
  position: relative;
}
.header .navigation > ul > li:first-child {
  margin-left: 0;
}
.header .navigation > ul > li:last-child {
  margin-right: 0;
}
.header .navigation > ul > li a {
  color: #fff;
  display: block;
  text-decoration: none;
}
.header .navigation > ul > li.user {
  padding-left: 35px;
}
.header .navigation > ul > li.user:before {
  content: url('../img/icon-user-badge.png');
  left: 0;
  position: absolute;
  top: 2px;
}
.header .navigation > ul > li.icon {
  font-size: 20px;
  line-height: 1.6em;
}
.header .navigation > ul > li.icon .fa-gift {
  font-size: 28px;
}
.header .navigation > ul > li.icon .badge {
  background-color: #4bad2b;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  height: 16px;
  left: calc(100% - 5px);
  line-height: 16px;
  min-width: 16px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: -2px;
}
@media (min-width: 768px) {
  .header .navigation > ul > li.icon + .button {
    margin-left: 20px;
  }
}
.header .navigation > ul > li.button {
  margin-bottom: 0;
  margin-top: 0;
}
.header .navigation > ul > li.button > a {
  border: 1px solid;
  border-radius: 4px;
  min-width: 115px;
  padding: 2px 15px;
  text-align: center;
}
.header .navigation > ul > li.button.red > a {
  background-color: #fc2a1d;
  border-color: #fc2a1d;
}
.header .navigation > ul > li.button.bordered > a {
  background-color: transparent;
  border-color: #888a8f;
}
.header .navigation > ul > li.button > a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header .navigation > ul > li.button > a:hover {
  background-color: transparent;
  border-color: #fc2a1d;
  color: #fc2a1d;
}
.green-bar {
  background-color: #4bad2b;
  padding: 8px 0;
}
.green-bar-title img {
  display: block;
  float: left;
  height: 38px;
}
.green-bar-title h1 {
  float: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.375em;
  margin: 0;
  padding-left: 12px;
}
.green-bar-navigation > ul {
  list-style: none;
  margin: 0;
  padding: 2px 0;
}
.green-bar-navigation > ul a {
  display: block;
  color: #fff;
  font-size: 22px;
  line-height: 33px;
  text-decoration: none;
}
.green-bar-navigation > ul > li {
  display: block;
  float: left;
  margin-left: 15px;
  position: relative;
}
.green-bar-navigation > ul > li:first-child {
  margin-left: 0;
}
.sidebar {
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .sidebar {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    width: 230px;
  }
}
.sidebar.left {
  background-color: #1f3560;
  padding: 0 15px;
}
.sidebar ul.game-links {
  list-style: none;
  margin: 0;
  padding: 15px 0 15px 10px;
}
.sidebar ul.game-links li {
  width: 100%;
}
.sidebar ul.game-links li a {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5625em;
  padding: 12px 0 12px 40px;
  position: relative;
  text-decoration: none;
}
.sidebar ul.game-links li a img {
  height: 25px;
  left: 0;
  position: absolute;
  top: 12px;
}
.sidebar-widget {
  background-color: #1f3560;
  border-radius: 4px;
  margin: 15px 0;
  overflow: hidden;
}
.sidebar-widget-title {
  background-color: #4bad2b;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6em;
  margin: 0;
  padding: 10px;
}
.sidebar-widget.open-bets ul {
  list-style: none;
  margin: 0;
  padding: 12px 10px;
}
.sidebar-widget.open-bets ul li {
  font-size: 14px;
  font-weight: 600;
  line-height: 2.14285714em;
  padding: 7px 0;
  text-align: center;
  text-transform: uppercase;
}
.sidebar-widget.open-bets ul li p {
  margin: 0;
}
.sidebar-widget.open-bets ul li p a {
  color: inherit;
}
.sidebar-widget.open-bets ul li p a.event-title {
  color: #4bad2b;
}
.sidebar-widget.open-bets ul li.total {
  color: #4bad2b;
}
.sidebar-widget.leaderboard ul {
  list-style: none;
  margin: 0;
  padding: 12px 10px;
  text-align: center;
  text-transform: uppercase;
}
.sidebar-widget.leaderboard ul li {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 0;
}
.sidebar-widget.leaderboard ul li:before,
.sidebar-widget.leaderboard ul li:after {
  content: '';
  display: table;
}
.sidebar-widget.leaderboard ul li:after {
  clear: both;
}
.sidebar-widget.leaderboard ul li span {
  display: block;
  float: left;
  padding: 0 10px;
  width: 50%;
}
.sidebar-widget.game-links ul {
  list-style: none;
  margin: 0;
  padding: 15px;
}
.sidebar-widget.game-links ul li {
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
}
.sidebar-widget.game-links ul li a {
  color: #4bad2b;
}
.contents {
  float: left;
  min-height: 1px;
  padding: 15px 0;
  width: 100%;
}
@media (min-width: 768px) {
  .contents {
    padding-right: 20px;
    width: calc(100% - 200px);
  }
}
@media (min-width: 991px) {
  .contents {
    padding-left: 20px;
    width: calc(100% - 400px);
  }
}
@media (min-width: 1200px) {
  .contents {
    width: calc(100% - 460px);
  }
}
.contents .section-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 2em;
  margin: 0;
}
.contents #search .form-control {
  border: none;
  border-radius: 5px 0 0 5px;
  float: left;
  font-size: 14px;
  height: 40px;
  line-height: 1.71428571em;
  padding: 8px 15px;
  width: calc(100% - 40px);
}
.contents #search button[type=submit] {
  background-color: #4bad2b;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #fff;
  display: block;
  float: left;
  font-size: 18px;
  height: 40px;
  line-height: 39px;
  outline: none;
  text-align: center;
  width: 40px;
}
.bx-wrapper {
  background: transparent;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}
.carousel-container,
.slider-container {
  margin: 15px 0;
}
.events-slider-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  height: 200px;
  width: 100%;
}
@media (min-width: 768px) {
  .events-slider-item {
    height: 280px;
  }
}
@media (min-width: 1200px) {
  .events-slider-item {
    height: 320px;
  }
}
.events-slider-item > .inner {
  display: table-cell;
  vertical-align: middle;
}
.events-slider-item .item-contents {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
  margin: 0 auto;
  padding: 20px 15px;
}
@media (max-width: 767px) {
  .events-slider-item .item-contents {
    padding: 15px 10px;
  }
}
.events-slider-item h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 10px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .events-slider-item h3 {
    font-size: 20px;
  }
}
.events-slider-item p {
  margin: 0 0 13px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .events-slider-item p {
    font-size: 13px;
  }
}
.events-slider-item .cta-button {
  background-color: #fc2a1d;
  border: 2px solid #fc2a1d;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 18px;
  text-decoration: none;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.events-slider-item .cta-button:hover {
  background-color: transparent;
  border-color: #fff;
}
@media (max-width: 767px) {
  .events-slider-item .cta-button {
    font-size: 15px;
    padding: 4px 12px;
  }
}
.events-carousel-item {
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.71428571em;
  font-weight: 600;
}
.events-carousel-item img,
.events-carousel-item figure {
  display: block;
  width: 100%;
}
.events-carousel-item figure {
  padding: 5px;
}
.events-carousel-item img {
  border-radius: 5px 5px 0 0;
}
.events-carousel-item figcaption {
  background-color: #4bad2b;
  border-radius: 0 0 5px 5px;
  color: #fff;
  padding: 6px;
  text-transform: initial;
}
.events-carousel-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events-carousel-item ul li,
.events-carousel-item ul a {
  color: #332d2d;
}
.events-carousel-item ul li {
  border-bottom: 1px solid #c9c9c9;
  font-size: 13px;
  padding: 6px;
}
.events-carousel-item ul em {
  color: #4bad2b;
}
.events-carousel-item footer {
  padding: 15px;
}
.events-carousel-item .cta-button {
  background-color: #fc2a1d;
  border: 1px solid #fc2a1d;
  border-radius: 4px;
  color: #fff;
  font-weight: normal;
  padding: 5px 12px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.events-carousel-item .cta-button:hover {
  background-color: transparent;
  color: #fc2a1d;
}
.news-feed-carousel-item {
  background-color: #fff;
  border-radius: 5px;
  color: #343434;
  overflow: hidden;
}
.news-feed-carousel-item img {
  display: block;
  width: 100%;
}
.news-feed-carousel-item a {
  color: #343434;
}
.news-feed-carousel-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 18px 0 10px;
  padding: 0 10px;
}
.news-feed-carousel-item p {
  font-size: 14px;
  padding: 0 10px;
  margin-bottom: 12px;
}
.news-feed-carousel-item p a {
  font-weight: 600;
}
.single-event .cta-button {
  background-color: #fc2a1d;
  border: 1px solid #fc2a1d;
  border-radius: 4px;
  color: #fff;
  font-weight: normal;
  padding: 5px 12px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.single-event .cta-button:hover {
  background-color: transparent;
  color: #fc2a1d;
}
.footer {
  background-color: #303030;
  background-color: #4bad2b;
  padding: 30px 0 0;
}
.footer-widget {
  font-size: 14px;
  line-height: 1.71428571em;
  margin-bottom: 20px;
}
.footer-widget-title {
  border-bottom: 1px solid #eee;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  padding-bottom: 15px;
}
.footer-widget a {
  color: #fff;
  font-weight: 600;
}
.footer-widget.site-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-widget.site-links ul:before,
.footer-widget.site-links ul:after {
  content: '';
  display: table;
}
.footer-widget.site-links ul:after {
  clear: both;
}
.footer-widget.site-links li {
  display: block;
  float: left;
  width: 50%;
}
.footer-widget.site-links li a {
  display: block;
  padding: 5px 0;
}
.footer-widget.get-in-touch address,
.footer-widget.get-in-touch p {
  padding: 5px;
  line-height: 2em;
}
.footer-widget.get-in-touch a {
  color: #fc2a1d;
}
.footer-widget.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-widget.social li {
  float: left;
  margin-left: 5px;
}
.footer-widget.social li a {
  background-color: #1f3560;
  border-radius: 18px;
  display: block;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 36px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.footer-widget.social li a:hover {
  background-color: #fc2a1d;
}
.footer-widget.social li:first-child {
  margin-left: 0;
}
.footer .copyright {
  background-color: #040a16;
  font-size: 14px;
  margin-top: 10px;
}
.footer .copyright p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 10px 0;
}
.footer .copyright p,
.footer .copyright a {
  color: #ccc;
}
.footer .copyright a {
  font-weight: 600;
}
