{% extends 'core/base.html' %}
{% load static i18n %}

{% block head-css %}
  <style>

    button {
      width: 100%;
    }

  </style>
{% endblock %}

{% block content %}
  <div class="offset-4 col-4 text-center">
    <h1 align="center">IMBTING</h1>
    {% if messages %}
      <div class="row">
        <!-- Log in inouts -->
        <div class="col-md-4">
          {% for message in messages %}
            <div class="alert alert-primary">{{ message }}</div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {% include 'includes/form.html' with form=form %}
      <div class="form-group">
        <a href="{% url 'password_reset' %}" class="forgot-pass">Forgot
          Password</a>
      </div>
      <div class="form-group submit-group">
        <button type="submit" class="btn-common btn-red">Sign in
        </button>
        <!-- separator -->
        <div class="separator text-center">
          <p>or</p>
        </div>
        <p>{% trans "Don't have an account yet?" %} <a
                href="{% url 'users:signup' %}">{% trans "Sign Up" %}</a>
        </p>
      </div>
    </form>

  </div>
{% endblock %}