{% extends 'core/dashboard-base.html' %}
{% load static i18n %}

{% block extra-content %}
  <div class="offset-4 col-4">
    <div class="event-widget-wrapper clearfix">
      <!-- event date -->
      <div class="event-date">
        <a href="{% url 'password_change' %}"
           style="color: white; float: right; margin-left: 30px;">
          <i class="fas fa-key"></i> Change Password
        </a>
        <a href="{% url 'accounts:detail' %}"
           style="color: white; float: right;">
          <i class="far fa-edit"></i> View Profile
        </a>
        <h2>Update Your Password</h2>
      </div>
      {% with account=user.account %}
        <!-- event widgets -->
        <div class="event-widgets">
          <!-- single event widget -->
          <div class="single-event-widget">
            <!-- event details -->
            <div class="event-details" style="width: 100%;">
              <div class="container">
                <div class="row">
                  <div class="offset-md-3 col-md-6 col-sm-12 offset-lg-4 col-lg-4">
                    <p>{% trans 'Your password was changed.' %}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endwith %}
    </div>

  </div>

{% endblock %}
