{% extends 'core/base.html' %}
{% load static  i18n %}

{% block head-css %}
  <style>

    button {
      width: 100%;
    }

  </style>
{% endblock %}

{% block content %}
  <section class="log-in-section d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Log In section Logo -->
        <div class="col-md-4">
          <div class="log-in-logo">
            <a href="{% url 'core:index' %}">
              <img src="{% static "assets/images/logo-login.png" %}" alt="">
            </a>
          </div>
        </div>
        <!-- Log In section Logo  ends-->
      </div>

      <div class="row justify-content-center">
        <!-- Log in inouts -->
        <div class="col-md-4">
          <div class="log-in-inputs clearfix">
            <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
            <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
            <a href="{% url 'login' %}">{% trans 'Sign In' %}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
