{% extends 'core/base.html' %}
{% load static i18n %}

{% block head-title %}{{ title }}{% endblock %}

{% block head-css %}
  <style>

    button {
      width: 100%;
    }

  </style>
{% endblock %}

{% block content %}
  <section class="log-in-section d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Log In section Logo -->
        <div class="col-md-4">
          <div class="log-in-logo">
            <a href="{% url 'core:index' %}">
              <img src="{% static "assets/images/logo-login.png" %}" alt="">
            </a>
          </div>
        </div>
        <!-- Log In section Logo  ends-->
      </div>

      <div class="row justify-content-center">
        <!-- Log in inouts -->
        <div class="col-md-4">
          <div class="log-in-inputs clearfix">
            <h4>{{ title }}</h4>


            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

            <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}