{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="offset-4 col-4 text-center">
      <form method="post">
        {% csrf_token %}
        <h2>Password Recover</h2>
        <hr/>
        {% include 'includes/form.html' with form=form %}
        <div class="form-group">
          <a href="{% url 'login' %}" class="forgot-pass">Sign In</a>
        </div>
        <div class="form-group submit-group">
          <button type="submit" class="btn btn-primary">
            Reset password
          </button>
          <!-- separator -->
          <div class="separator text-center">
            <p>or</p>
          </div>
          <p>Don't have an account yet? <a
                  href="{% url 'users:signup' %}">Sign Up</a></p>
        </div>
      </form>

    </div>
{% endblock %}