{% extends 'core/base.html' %}
{% load static i18n %}

{% block head-css %}
  <style>

    button {
      width: 100%;
    }

  </style>
{% endblock %}

{% block content %}
  <section class="log-in-section d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Log In section Logo -->
        <div class="col-md-4">
          <div class="log-in-logo">
            <a href="{% url 'core:index' %}">
              <img src="{% static "assets/images/logo-login.png" %}" alt="">
            </a>
          </div>
        </div>
        <!-- Log In section Logo  ends-->
      </div>

      <div class="row justify-content-center">
        <!-- Log in inouts -->
        <div class="col-md-4">
          <div class="log-in-inputs clearfix">
            {% if validlink %}

              <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>


              <form action="" method="post">
                {% csrf_token %}
                {% include 'includes/form.html' with form=form %}
                <a href="{% url 'password_reset' %}" class="forgot-pass">{% trans 'Forget Password' %}</a>
                <div class="form-group submit-group text-center">
                  <button type="submit" class="btn-common btn-red">
                    Save
                  </button>
                  <!-- separator -->
                  <div class="separator text-center">
                    <p>or</p>
                  </div>
                  <p>{% trans "Don't have an account yet?" %} <a
                          href="{% url 'users:login' %}">{% trans 'Sign In' %}</a></p>
                </div>
              </form>
            {% else %}
              <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

            {% endif %}

          </div>
        </div>
        <!-- Log in inouts ends -->
      </div>
    </div>
  </section>
{% endblock %}
