{% extends 'core/base.html' %}
{% load static i18n %}

{% block head-css %}
  <style>

    .error-list {
      color: #ff8c76;
    }

    .help-list {
      color: #ff8c76;
      position: absolute;
      right: -200px;
    }

  </style>
{% endblock %}

{% block content %}
  <div class="offset-4 col-4 text-center">
    <h2>{% trans 'Sign Up' %}</h2>
    <hr/>
    <form action="" method="post">
      {% csrf_token %}
      {% include 'includes/form.html' with form=form %}
      <a href="{% url 'password_reset' %}" class="forgot-pass">
        {% trans 'Forgot Password' %}
      </a>
      <div class="form-group submit-group text-center">
        <button type="submit" class="btn btn-primary">
          REGISTER
        </button>
        <!-- separator -->
        <div class="separator text-center">
          <p>or</p>
        </div>
        <p>Don't have an account yet? <a href="{% url 'login' %}">Sign In</a>
        </p>
      </div>
    </form>
  </div>
{% endblock %}
