.im-btn, .im-btn-danger, .im-btn-success {
  color: #FFFFFF;
  width: 120px;
  border-radius: 0;
  padding: .175rem .75rem; }
  .im-btn:not(:last-of-type), .im-btn-danger:not(:last-of-type), .im-btn-success:not(:last-of-type) {
    margin-right: 0.6rem; }

.im-btn-danger {
  border-bottom: 2px solid #990000;
  background-color: #D00000; }

.im-btn-success {
  border-color: #224cb5;
  border-bottom: 2px solid #0d3495;
  background-color: #224cb5; }
  .im-btn-success:hover {
    border-color: #0d3495;
    background-color: #0d3495; }

.icon {
  padding-left: 33px;
  position: relative; }
  .icon:before {
    content: '';
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; }
  .icon--ball:before {
    background-image: url("../../assets/icons/ball.png"); }
  .icon--commenting:before {
    background-image: url("../../assets/icons/commenting.png"); }
  .icon--help:before {
    background-image: url("../../assets/icons/help.png"); }
  .icon--horse:before {
    background-image: url("../../assets/icons/horse.png"); }
  .icon--mail:before {
    background-image: url("../../assets/icons/mail.png"); }
  .icon--new-list:before {
    background-image: url("../../assets/icons/new-list.png"); }
  .icon--note:before {
    background-image: url("../../assets/icons/note.png"); }
  .icon--reward:before {
    background-image: url("../../assets/icons/reward.png"); }
  .icon--search-list:before {
    background-image: url("../../assets/icons/search-list.png"); }
  .icon--signal:before {
    background-image: url("../../assets/icons/signal.png"); }
  .icon--user-group:before {
    background-image: url("../../assets/icons/user-group.png"); }

body {
  color: #FFFFFF; }

.full-size {
  min-height: 100vh; }

.main-bg {
  background: url("../../assets/images/background-layer.png") top no-repeat;
  background-size: cover; }

.btns-header {
  margin-left: auto; }

.first-header h2 {
  color: #D00000; }

.second-header {
  header: 56px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(34, 76, 181, 0.6); }

.btn-question {
  color: #FFFFFF;
  font-size: 18px; }

.btn-language {
  background-color: #FFFFFF;
  color: #224cb5;
  padding: 0 4px; }

.left-menu a, .right-menu a, .second-header a {
  color: inherit;
  text-decoration: none; }

.left-menu {
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.left-menu-elem {
  display: block;
  position: relative;
  padding: 15px 15px 15px 45px; }
  .left-menu-elem:before {
    top: 15px;
    left: 15px; }
  .left-menu-elem:hover {
    background-color: rgba(0, 0, 0, 0.3); }

.left-menu-body {
  padding: 15px;
  background-color: white;
  color: black; }

.right-menu > * {
  margin-bottom: 1rem; }

.right-menu-header {
  background-color: rgba(34, 76, 181, 0.6); }
  .right-menu-header > div {
    cursor: pointer; }

.triangle {
  width: 0;
  height: 0; }
  .triangle--down {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #FFFFFF; }
  .triangle--right {
    border-top: 15px solid transparent;
    border-left: 30px solid #FFFFFF;
    border-bottom: 15px solid transparent; }
  .triangle--left {
    border-top: 15px solid transparent;
    border-right: 30px solid #FFFFFF;
    border-bottom: 15px solid transparent; }

.carousel-action {
  background-color: #000000;
  opacity: .2;
  width: 5%; }

.carousel-indicators {
  bottom: -1.5rem;
  margin-bottom: 0; }
  .carousel-indicators > li {
    height: 8px;
    margin: 0 12px;
    background-color: #fff; }
  .carousel-indicators > .active {
    background-color: #FF1000; }

.card {
  color: initial; }
  .card > * {
    padding: .5rem; }
  .card .period-line {
    position: absolute;
    right: .5rem;
    left: .5rem;
    bottom: 0; }
    .card .period-line:before {
      background-color: #1FB952;
      bottom: 0;
      content: '';
      height: .5rem;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 0; }
    .card .period-line > * {
      padding: 0 .5rem; }
    .card .period-line > .date {
      color: #FFFFFF;
      background-color: #1FB952;
      z-index: 10; }
    .card .period-line > .status {
      background-color: #F6CD0F;
      display: none; }
    .card .period-line.live {
      background-color: #1FB952; }
      .card .period-line.live:before {
        display: none; }
      .card .period-line.live .status {
        display: flex; }
  .card .card-header, .card .card-footer {
    color: #8F8982;
    background-color: initial; }

.footer-link {
  color: #FF1000; }
  .footer-link:hover {
    color: #c82333; }

.icon-header {
  font-size: 20px; }

.footer {
  background-color: rgba(0, 0, 0, 0.3); }

html, body {
  height: 100%; }

.main-bg-filter:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background: url("../../assets/images/background-layer.png") top no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(0.3); }
