// importing requried bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/clearfix";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/close";

// importing font-awesome
@import './../fontawesome/scss/fa-regular';
@import './../fontawesome/scss/fa-solid';
@import './../fontawesome/scss/fa-brands';
@import './../fontawesome/scss/fontawesome.scss';

// Custom Styles
@import 'partials/var';
@import 'partials/typography';
@import 'partials/global';
@import 'partials/buttons';
@import 'partials/status-bar';
@import 'partials/header';
@import 'partials/slider';
@import 'partials/upcoming';
@import 'partials/card';
@import 'partials/main-content';
@import 'partials/login';
@import 'partials/footer';
