@import "variables";

.im-btn {
  color: #FFFFFF;
  width: 120px;
  border-radius: 0;
  padding: .175rem .75rem;
  &:not(:last-of-type) {
    margin-right: 0.6rem;
  }
}

.im-btn-danger {
  @extend .im-btn;
  border-bottom: 2px solid #990000;
  background-color: $base-red-color;
}

.im-btn-success {
  @extend .im-btn;
  border-color: $base-blue;
  border-bottom: 2px solid #0d3495;
  background-color: $base-blue;
  &:hover {
    border-color: #0d3495;
    background-color: #0d3495;
  }
}