@import "variables";
@import "helpers";
@import "icons";

body {
  color: $main-bg;
}
.full-size {
  min-height: 100vh;
}

.main-bg {
  background: url("../images/background-layer.png") top no-repeat;
  background-size: cover;
}

.btns-header {
  margin-left: auto;
}

.first-header h2 {
  color: $base-red-color;
}

.second-header {
  header: 56px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);
  //background-color: rgba(23, 61, 119, .3);
  background-color: rgba(31, 185, 82, 0.6);
}

.btn-question {
  //background-color: $main-bg;
  color: $main-bg;
  font-size: 18px;
  //border-radius: 50%;
  //text-align: center;
}

.btn-language {
  background-color: $main-bg;
  color: $base-green-color;
  padding: 0 4px;
}

.left-menu, .right-menu, .second-header {
  a {
    color: inherit;
    text-decoration: none;
  }
}
.left-menu {
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.left-menu-elem {
  display: block;
  position: relative;
  padding: 15px 15px 15px 45px;
  &:before {
    top: 15px;
    left: 15px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.left-menu-body {
  background-color: white;
  color: black;
}
.right-menu {
  >* {
    //margin-left: 40%;
    margin-bottom: 1rem;
  }
}

.right-menu-header {
  background-color: rgba(31, 185, 82, 0.6);
  //background-color: $base-green-color;
}

.triangle {
  width: 0;
  height: 0;

  &--down {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid $main-bg;
  }

  &--right {
    border-top: 15px solid transparent;
    border-left: 30px solid $main-bg;
    border-bottom: 15px solid transparent;
  }

  &--left {
    border-top: 15px solid transparent;
    border-right: 30px solid $main-bg;
    border-bottom: 15px solid transparent;
  }
}

.carousel-action {
  background-color: #000000;
  opacity: .2;
  width: 5%;
}

.carousel-indicators {
  bottom: -1.5rem;
  margin-bottom: 0;

  &>li {
    height: 8px;
    margin: 0 12px;
    background-color: #fff;
  }

  &>.active {
    background-color: $title-text-color;
  }
}

.card {
  color: initial;

  >* {
    padding: .5rem;
  }

  .period-line {
    position: absolute;
    right: .5rem;
    left: .5rem;
    bottom: 0;

    &:before {
      background-color: $im-btn-success;
      bottom: 0;
      content: '';
      height: .5rem;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 0;
    }

    >* {
      padding: 0 .5rem;
    }

    >.date {
      color: #FFFFFF;
      background-color: $im-btn-success;
      z-index: 10;
    }

    >.status {
      background-color: #F6CD0F;
      display: none;
    }

    &.live {
      &:before {
        display: none;
      }
      background-color: $im-btn-success;

      .status {
        display: flex;
      }
    }
  }

  .card-header, .card-footer {
    color: #8F8982;
    background-color: initial;
  }
}

.footer-link {
  color: $title-text-color;

  &:hover {
    color: #c82333;
  }
}

.icon-header{
  font-size: 20px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.3);
}