//Backgrounds
$main-bg: #FFFFFF;

//Text colors
$m2-text-color: #2F62C7;
$title-text-color: #FF1000;

$base-red-color: #D00000;
$base-blue: rgb(34, 76, 181);
$base-blue-opacity: rgba(34, 76, 181, 0.6);

//Button colors
$im-btn-danger: #FF2502;
$im-btn-success: #1FB952;
