// Button Styles
.btn-common {
    color: $primary-text-color;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 15px;
    border-radius: 4px;
    display: inline-block;
    &:hover {
        color: #ffffff;
        text-decoration: none;
    }
}
.btn-primary {
    background-color: $primary-color;
    &:hover {
        background-color: $primary-color-dark;
    }
}
.btn-secondary {
    background-color: $secondary-color;
    &:hover {
        background-color: $secondary-color-dark;
    }
}
.btn-tertiary {
    background-color: $tertiary-color;
    &:hover {
        background-color: $tertiary-color-dark;
    }
}


/**
    RESPONSIVE STYLES GOES HERE
    ===========================
**/

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .btn-common {
        padding: 6px 20px;
    }
}
