// Footer Styles
.footer-section {
    background-color: $secondary-dark-bg;
    p {
        margin: 0;
        font-weight: 300;
        font-size: 14px;
        color: #647086;
    }
    padding: 20px;

    .footer-icons {
        margin-top: 10px;
        a {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        i {
            color: #647086;

            font-size: 22px;
            display: inline-block;

        }
    }
}

/**
    RESPONSIVE STYLES GOES HERE
    ===========================
**/

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    // Footer Styles
    .footer-section {
        .footer-icons {
            margin-top: 0;
        }
    }

}
