// Log in page styles
.log-in-section {
    background-color: #08111c;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
    position: relative;
    min-height: 100vh;
    // height: 100vh;
    display: flex;
    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        top: 0;
        left: 0;
        background-color: rgba(4 , 10 , 22 , 0.9);
    }
    a {
        color: #e2e9f8;
    }
    // Log in logo
    .log-in-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    // Log in inputs
    .log-in-inputs {
        background: rgba(24, 35, 58, 0.7);
        padding: 40px;
        border-radius: 10px;
        color: #96a6cb;
        text-align: center;

        .form-control {
            &::placeholder {
                color: #96a6cb;
                text-transform: capitalize;
            }
            &:focus {
                box-shadow: 0 0 0 0;
            }
            background-color: transparent;
            color: darken(#96a6cb , 10%);
            border-radius: 30px;
            text-align: center;
            border: 1px solid #4c82c3;
            margin-bottom: 20px;
            height: 50px;
        }
        .forgot-pass {
            color: #96a6cb;
            font-size: 12px;
            text-decoration: underline;
        }
        p {
            a {
                display: block;
            }
        }
    }
    .submit-group {
        margin: 20px 0;
    }
    // Button
    .btn-common {
        color: $primary-text-color;
        text-transform: uppercase;
        text-align: center;
        border: 0;
        background-color: $tertiary-color;
        border-radius: 30px;
        padding: 12px 40px;
        display: block;
        transition: $transition-fade;

        &:hover {
            text-decoration: none;
            background-color: $tertiary-color-dark;
        }
    }

    // separator
    .separator {
        margin: 20px 0;
        p {
            position: relative;
            margin: 0;
            z-index: 1;
            &::after {
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #6e7b99;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                content: "";
                z-index: -1;
            }
        }
    }
}
