// Status Bar section
.status-bar-section {
    background-color: #d0d3d9;
    padding: 20px;

    // bar
    .status-bar {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            float: left;
        }
        li a {
            color: #091835;
            padding: 5px 0;
            display: inline-block;
            margin-right: 25px;
            padding: 5px 0;
            text-transform: capitalize;
            span {
                color: #cd0006;
                margin-left: 10px;
            }
        }
    }
}
