{% load static i18n %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
  <title>{% block head-title %}{% endblock %}</title>
  {% block head-js %}{% endblock %}
  {% block head-css %}{% endblock %}
</head>

<body>

<div class="text-right" style="float: right; margin: 30px;">
  <form action="{% url 'set_language' %}" method="post" id="lang-form">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}"/>
    <div class="col-sm-12">
      <select name="language" class="form-control" onchange="document.getElementById('lang-form').submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
          <option value="{{ language.code }}"
                  {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.name_local }} ({{ language.code }})
          </option>
        {% endfor %}
      </select>
    </div>
  </form>
</div>

{% block content %}{% endblock %}

<!-- footer section -->
<footer class="footer-section">
  <div class="container">
    <div class="row align-items-center justify-content-between">

      <!-- copyright text -->
      <div class="copyright-text">
        <p>Copyright &copy; 2018 Imbting All rights reserved. </p>
      </div>


      <!-- social icons -->
      <div class="footer-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>


    </div>
  </div>
</footer>
<!-- footer section ends -->
<script src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>