{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block head-title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="{% static 'packages/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  {% block head-js %}{% endblock %}
  {% block head-css %}{% endblock %}
</head>
<body>
<div class="container-fluid full-size main-bg">
  <div class="row align-items-center pb-3 pt-3 first-header">
    <div class="col-3">
      <h2 class="text-uppercase"><a href="{% url 'core:index' %}">Imbting</a></h2>
    </div>
    <div class="col-1 offset-7">
      <a class="btn btn-danger text-uppercase w-100 im-btn-danger"
         href="{% url 'login' %}">
        <strong>Login</strong></a>
    </div>
    <div class="col-1">
      <a href="{% url 'users:signup' %}"
         class="btn btn-success text-uppercase w-100 im-btn-success">
        <strong>Sign up</strong>
      </a>
    </div>
  </div>

  <div class="row justify-content-between pb-3 pt-3 second-header">
    <div class="col-3">
      <a href="#"><strong
              class="text-uppercase d-flex icon icon--home">Home</strong></a>
    </div>
    <div class="col-3 text-right">
      <strong class="mr-1">1:34 PM</strong>
      <div class="text-center d-inline-block mr-1 btn-question">
        <strong>?</strong></div>
      <div class="d-inline-block icon icon--mail" style="height: 16px"></div>
      <div class="d-inline-block icon icon--commenting"
           style="height: 16px"></div>
      <div class="text-center d-inline-block btn-language">
        <strong>EN</strong>
{#        {% get_current_language as LANGUAGE_CODE %}#}
{#        {% get_available_languages as LANGUAGES %}#}
{#        {% get_language_info_list for LANGUAGES as languages %}#}
{#        {% for language in languages %}#}
{#          <option value="{{ language.code }}"#}
{#                  {% if language.code == LANGUAGE_CODE %} selected{% endif %}>#}
{#            {{ language.name_local }} ({{ language.code }})#}
{#          </option>#}
{#        {% endfor %}#}
      </div>
    </div>
  </div>

  <div class="row mb-3 mt-3">
    {% block content %}{% endblock %}
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <ul class="list-inline">
        <li class="list-inline-item mr-3"><strong>Forms&Agreements</strong>
        </li>
        <li class="list-inline-item mr-3"><strong>Responsible Gambling</strong>
        </li>
        <li class="list-inline-item mr-3"><strong>Terms of Service</strong>
        </li>
        <li class="list-inline-item mr-3"><strong>Privacy Policy</strong></li>
        <li class="list-inline-item"><strong>Disclaimer</strong></li>
      </ul>
      <small>
        Gambling should be entertaining. Remember that you always risk losing
        the money you bet, so do not spend more than you can afford to lose. If
        you think you may have a problem,
        <a href="#" class="footer-link">click here</a>.
      </small>
    </div>
  </div>
</div>

<script src="{% static 'packages/jquery/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'packages/bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>

{#<div class="text-right" style="float: right; margin: 30px;">#}
{#  <form action="{% url 'set_language' %}" method="post" id="lang-form">#}
{#    {% csrf_token %}#}
{#    <input name="next" type="hidden" value="{{ redirect_to }}"/>#}
{#    <div class="col-sm-12">#}
{#      <select name="language" class="form-control" onchange="document.getElementById('lang-form').submit()">#}
{#        {% get_current_language as LANGUAGE_CODE %}#}
{#        {% get_available_languages as LANGUAGES %}#}
{#        {% get_language_info_list for LANGUAGES as languages %}#}
{#        {% for language in languages %}#}
{#          <option value="{{ language.code }}"#}
{#                  {% if language.code == LANGUAGE_CODE %} selected{% endif %}>#}
{#            {{ language.name_local }} ({{ language.code }})#}
{#          </option>#}
{#        {% endfor %}#}
{#      </select>#}
{#    </div>#}
{#  </form>#}
{#</div>#}
