{% extends 'core/dashboard-base.html' %}
{% load static i18n %}

{% block extra-content %}
  <section class="main-content-section section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Log in inouts -->
        <div class="col-md-12 col-sm-12">
          <div class="log-in-inputs clearfix">
            <!-- title -->
            <!-- event widgets wrapper -->
            <div class="event-widget-wrapper clearfix">
              <!-- event date -->
              <div class="event-date">
                <a href="{% url 'password_change' %}"
                   style="color: white; float: right; margin-left: 30px;">
                  <i class="fas fa-key"></i> Change Password
                </a>
                <a href="{% url 'accounts:detail' %}"
                   style="color: white; float: right;">
                  <i class="far fa-edit"></i> View Profile
                </a>
                <h2>Update Your Profile</h2>
              </div>
              {% with account=user.account %}
                <!-- event widgets -->
                <div class="event-widgets">
                  <!-- single event widget -->
                  <div class="single-event-widget">
                    <!-- event details -->
                    <div class="event-details" style="width: 100%;">
                      <div class="container">
                        <div class="row">
                          <div class="offset-md-3 col-md-6 offset-sm-2 col-sm-10 offset-lg-4 col-lg-4">
                            <form method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              {% include 'includes/form.html' with form=form %}
                              <div class="form-group submit-group">
                                <button type="submit">Update</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endwith %}
            </div>

          </div>
        </div>
        <!-- main contents wrapper ends -->
      </div>
    </div>
  </section>

{% endblock %}