{% extends 'core/dashboard-base.html' %}
{% load static i18n %}

{% block head-css %}
  {{ block.super }}
  <style>
    .profile .event-details {
      width: 100%
    }

    .profile .logout-btn {
      color: white;
      float: right;
      margin-left: 30px;
    }
  </style>
{% endblock %}

{% block extra-content %}
  <section class="main-content-section section-padding profile">
    <div class="container">
      <div class="row">

        <!-- main contents wrapper -->
        <div class="col-md-12 clearfix">
          <div class="main-content-wrapper">
            <!-- title -->
            <!-- event widgets wrapper -->
            <div class="event-widget-wrapper clearfix">
              <!-- event date -->
              <div class="event-date">
                <a href="{% url 'users:logout' %}" class="logout-btn">
                  <i class="fas fa-sign-out-alt"></i> {% trans 'Logout' %}
                </a>
                <h2>{% trans 'Your Profile' %}</h2>
              </div>
              {% with account=object.account %}
                <!-- event widgets -->
                <div class="event-widgets">
                  <!-- single event widget -->
                  <div class="single-event-widget">
                    <!-- event details -->
                    <div class="event-details">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-3 col-sm-4">
                            {% if object.avatar %}
                              <img class="img-thumbnail"
                                   src="{{ object.avatar.url }}"/>
                            {% else %}
                              <img class="img-responsive"
                                   src="{% static 'assets/images/bet/bet1.png' %}"/>
                            {% endif %}
                          </div>
                          <div class="col-md-9 col-sm-8">

                            <a href="{% url 'accounts:update' %}"
                               style="color: white; float: right;"><i
                                    class="far fa-edit"></i> {% trans 'Change' %}</a>
                            <p>ID: <span>#{{ object.id }}</span></p>
                            <p>{% trans 'Full Name' %}:
                              <span>{{ object.get_full_name }}</span>
                            </p>
                            <p>{% trans 'Email' %}: <span>{{ object.email }}</span></p>
                            <p>{% trans 'Phone' %}:
                              <span>{{ object.phone|default:'-' }}</span>
                            </p>
                            <p>{% trans 'Joined At' %}:
                              <span>{{ object.date_joined }}</span>
                            </p>
                            <p>{% trans 'Last Login' %}: <span>{{ object.last_login }}</span>
                            </p>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endwith %}
            </div>

          </div>
        </div>
        <!-- main contents wrapper ends -->
      </div>
    </div>
  </section>

{% endblock %}